#weatherDashboard{
    text-align: center;
    background-color: rgb(54, 54, 173);
    width: 100%;
}


.container{
    margin-left: 0px !important;
    padding-left: 0px;
}


.row{
    width: 100vw;
}
#searchPlaces{
    background-color: grey;
    height: 100vh;
}


.weatherInfo{
    background-color: white;
    height: 100vh;
}

.cityResults{
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding-left: 2%;
}